<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movieAndgame.Dao.MovieMemberDao">

	<insert id="insert" parameterType="com.movieAndgame.Dto.MovieMember">
		insert into MovieMember(email, password, name, tel, birth_Year, birt_month)
			values(#{email}, #{password}, #{name}, #{tel}, #{birtYear}, #{birtMonth})
	</insert>

</mapper>